<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boshz.udas.secretPersonnel.mapper.TbSecretPersonFileMapper">

    <resultMap type="com.boshz.udas.secretPersonnel.entity.TbSecretPersonFile" id="TbSecretPersonFileMap">
        <result property="secretId" column="secret_id" jdbcType="INTEGER"/>
        <result property="fileId" column="file_id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="selectById" resultMap="TbSecretPersonFileMap">
        select
secret_id, file_id, type
        from tb_secret_person_file
        where secret_id = #{secretId}
    </select>

    <!--查询指定行数据（适配 offset/pageSize）-->
    <select id="queryAllByLimit" resultMap="TbSecretPersonFileMap">
        select
secret_id, file_id, type
        from tb_secret_person_file
        <where>
            <if test="query.secretId != null">
                and secret_id = #{query.secretId}
            </if>
            <if test="query.fileId != null">
                and file_id = #{query.fileId}
            </if>
            <if test="query.type != null and query.type != ''">
                and type = #{query.type}
            </if>
        </where>
    <if test="offset != null">
        limit #{offset}, #{pageSize}
    </if>
    </select>

    <!--统计总行数-->
    <select id="selectCount" resultType="java.lang.Long">
        select count(1)
        from tb_secret_person_file
        <where>
            <if test="query.secretId != null">
                and secret_id = #{query.secretId}
            </if>
            <if test="query.fileId != null">
                and file_id = #{query.fileId}
            </if>
            <if test="query.type != null and query.type != ''">
                and type = #{query.type}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="secretId" useGeneratedKeys="true">
        insert into tb_secret_person_file()
        values ()
    </insert>

    <insert id="insertBatch" keyProperty="secretId" useGeneratedKeys="true">
        insert into tb_secret_person_file()
        values
        <foreach collection="entities" item="entity" separator=",">
        ()
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="secretId" useGeneratedKeys="true">
        insert into tb_secret_person_file()
        values
        <foreach collection="entities" item="entity" separator=",">
            ()
        </foreach>
        on duplicate key update
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update tb_secret_person_file
        <set>
        </set>
        where secret_id = #{secretId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from tb_secret_person_file where secret_id = #{secretId}
    </delete>

</mapper>
