<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boshz.udas.voucher.mapper.UnionPaymentVoucherMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_union_payment_voucher
        (voucher_date,pay_type,receipt_unit,receipt_account,cost_center,handle_person,
         reimburse_item,pay_amount_upper,pay_amount_lower,pay_desc)
        VALUES
            (#{voucherDate},#{payType},#{receiptUnit},#{receiptAccount},#{costCenter},#{handlePerson},
             #{reimburseItem},#{payAmountUpper},#{payAmountLower},#{payDesc})
    </insert>

    <select id="selectById" resultType="com.boshz.udas.voucher.entity.UnionPaymentVoucher">
        SELECT * FROM tb_union_payment_voucher WHERE id = #{id}
    </select>
</mapper>